body{
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}
.card{
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.birthday{
    max-height: 40vh;
}   

.muted{
    opacity: 0.8;

}
.space{
    height: 100px;
}